<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Utilizator</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <a href="/user/dashboard">Dashboard</a>
    <a href="/books/all">Toate Cărțile</a>
    <a href="/books/search">Caută Cărți</a>
    <a href="/user/view-loans">Împrumuturile Mele</a>
    <a href="/user/logout">Delogare</a>
</div>


<h1 style="text-align: center; margin-top: 20px;">Bine ai venit, <span th:text="${username}">Utilizator</span>!</h1>

<div class="container">

    <p style="text-align: center; margin-top: 20px;">Explorează cărțile disponibile sau verifică împrumuturile tale active.</p>
</div>

</body>
</html>
